<html xmlns:th="https://www.thymeleaf.org/">
<head>
<title>Register</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-header bg-danger text-white text-center">
				<h2>Inscrire une personne</h2>
			</div>
			<div class="card-body">
				<form method="post" th:action="@{/personne/inscription}">
				Nom : <input type="text" name="nom" class="forme-control">
				Prenom : <input type="text" name="prenom" class="forme-control">
				Email : <input type="text" name="email" class="forme-control">
				Date de naissance : <input type="date" name ="date" class="forme-control">
				<input type="submit" value="Inscription" class="btn btn-outline-success"/>
				</form>
			</div>
		</div>
	</div>
</body>
</html>